:root {
    --background-colour: white;
    --nav-color: rgb(47, 20, 64);
    --purple-card-color: rgb(211, 138, 245);
    --purple-ink: rgb(69, 13, 95);
    --yellow-card-color: rgb(244, 210, 72);
    --yellow-card-content-color: rgb(248, 225, 136);
    --yellow-ink: rgb(93, 78, 18);
    --yellow-off-ink: rgba(93, 78, 18, 0.871);
    --pink-card-color: rgb(244, 147, 171);
    --pink-ink: rgb(104, 22, 43);
    --other-card-color: rgb(234, 159, 172);
    --shadow: 0 2px 16px rgba(0, 0, 0, 0.267);
    --card-margin: 30px 0px 0px 0px;
    --card-padding: 10px 15px;
    --card-width: 27.5vw;
    --border-radius: 18px;
    --small-divs-border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: space-between;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    margin-top: 13vh;
    width: 100%;
}

a {
    text-decoration: none;
}

.page-section {
    display: none;
}

.page-section.active {
    display: block;
}


.seperation-line {
    height: 0.45px;
    width: 100%;
    background-color: var(--nav-color);
    border-radius: 100px;
    margin: 20px auto 0px auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
                                                LOGIN PAGE
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */

.main-div {
    width: fit-content;
    margin: 0px auto;
}

.main-div img {
    height: 25vh;
    margin: 5px auto 0px auto;
}

.login-title {
    display: flex;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-size: 3em;
    align-items: center;
    justify-content: baseline;
    font-weight: 500;
    width: fit-content;
    margin: 10vh auto 0px auto;
}

.login-div {
    background-color: var(--purple-card-color);
    padding: 20px 30px;
    width: fit-content;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    height: fit-content;
    box-shadow: var(--shadow);
}

.form-content {
    width: fit-content;
    margin: 15px auto;
}

.input-div {
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0px auto;
}

input {
    font-size: 1em;
    padding: 0px 10px;
    height: 8vh;
    border: 0.5px white;
    width: 26vw;
    border-radius: 50px;
    box-shadow: var(--shadow);
}

input:focus {
    outline: none;
    border-color: inherit;
}

input:focus::placeholder {
    color: transparent;
}

.reg-link {
    margin: 10px 15px 0px 15px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--purple-ink);
}


.login-button {
    background-color: var(--yellow-card-color);
    box-shadow: var(--shadow);
    color: var(--yellow-ink);
    font-size: 1.5rem;
    border: none;
    transition: all 0.15s ease-in-out;
}

.login-button:hover {
    cursor: pointer;
    background-color: var(--nav-color);
    color: var(--nav-ink);
}

.login-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

/* ---------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
                                                HEADER
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 10px auto;
    height: 50px;
    width: 63vw;
    background-color: rgb(255, 255, 255);
    padding: 8px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.title {
    text-align: center;
}

.main-title {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 520;
    font-size: 1.8rem;
}

.profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgba(37, 6, 56, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.267);
    ;
}

#initial {
    font-size: 1.3rem;
    font-weight: 650;
    color: var(--nav-color);
}


/* ---------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
                                                NAV BAR
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */

nav {
    background-color: var(--nav-color);
    margin: 10px auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 40vw;
    height: 30px;
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-button-div {
    height: 5.5vh;
    width: 2.5vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    background-color: transparent;
    height: 5.5vh;
    width: 2.5vw;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.nav-button:hover {
    cursor: pointer;
}

.current-page {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(125, 89, 146, 0.204);
}


/* ---------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
                                                HOME PAGE
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */

/* HERO SECTION */
.hero-first-div {
    width: 60vw;
    gap: 15px;
    display: flex;
    justify-content: center;
    margin: 1px auto;
}

.greeting {
    width: 59vw;
    margin: 0px auto 0px auto;
    border-radius: 25px;
}

.greeting-text {
    font-size: 3rem;
    font-weight: 500;
}

#date {
    font-size: 1.3rem;
}


.current {
    height: 20vh;
    width: var(--card-width);
    margin: var(--card-margin);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--purple-card-color);
    color: var(--purple-ink);
    box-shadow: var(--shadow);
}


.next {
    height: 20vh;
    width: var(--card-width);
    margin: var(--card-margin);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--pink-card-color);
    color: var(--pink-ink);
    box-shadow: var(--shadow);
}

.today {
    height: fit-content;
    width: 58vw;
    margin: 13px auto 80px auto;
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--yellow-card-color);
    color: var(--yellow-ink);
    box-shadow: var(--shadow);
}

/* Styling of the content which are inside the cards */

.card-sub-div {
    display: flex;
    justify-content: space-between;

}

.bold-text {
    font-size: 1.2em;
    font-weight: 700;
}

.small-text {
    font-size: 0.9em;
    font-weight: 580;

}

.card-description {
    display: flex;
    justify-content: space-between;
    width: 17vw;
    margin: 10px 0px;
    align-items: baseline;
}

.location-des {
    font-size: 0.8em;
    font-weight: 600;
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.location-des-today-card {
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 5px;
}

.card-right-section img {
    height: 25vh;
    position: relative;
    bottom: 60px;
    left: 30px;
}

/* Styling of the content inside the Today Card */

#currentDay {
    margin: 0px 5px;
    font-weight: 500;
    font-size: 1.1em;
}

.lectures {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
}

.lecture-div {
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow-card-content-color);
    border-radius: var(--small-divs-border-radius);
    padding: var(--card-padding);
    height: 7vh;
    width: inherit;
}

.lecture-div>div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.lecture-div> :last-child {
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 700;
}




/* ---------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
                                                MAP PAGE
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */

.map-heading {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px auto;
    width: 22vw;
    text-align: right;
}

.map-box {
    height: 55vh;
    width: 40vw;
    margin: 0px auto 0px auto;
    border: 1px solid rgba(147, 139, 139, 0.384);
    border-radius: var(--border-radius);
}

.map-description-container {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 20vh;
    width: 40vw;
    padding: 0;
    margin: 0px auto;
}

.map-description {
    display: flex;
    justify-content: space-between;
    background-color: var(--pink-card-color);
    height: 17vh;
    width: 40vw;
    margin: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.map-img>img {
    position: relative;
    bottom: 19.5px;
}

.map-lecture {
    /* background-color: red; */
    width: 20vw;
    padding: 0px 1vw;
}

.map-lecture>span {
    margin: 6px 0px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    color: var(--pink-ink);
}



.map-lec-sub {
    color: var(--yellow-ink);
}

/* ---------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
                                                NOTICE PAGE
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */

#notice-page section {
    /* background-color: red; */
    width: 58vw;
    margin: 0px auto;
}

.notice-title h1,
p {
    color: var(--purple-ink);
}

/* ---------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
                                                SCHEDULE PAGE
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------ */

#schedule-page section {
    margin: 0px auto;
    width: fit-content;
    padding: 0px 10px;
    height: 105vh;
}

.schedule-title {
    margin: 0px auto;
    color: var(--purple-ink);

}

.schedule-container {
    gap: 1vw;
    padding: 10px;
    border-radius: var(--border-radius);
    width: 40vw;
    margin: 0px auto;
}


/* =========================
   TIMETABLE
========================= */

.timetable {
    width: 100%;
    max-width: 800px;
    margin: 25px auto;
}


/* DAYS */

.day-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 16px;
}

.day {
    border: none;
    border-radius: 10px;

    background: #eeeaf1;
    /* color: var(--yellow-ink); */
    color: var(--purple-ink);

    padding: 10px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2px;

    font-family: inherit;
    cursor: pointer;
}

.day span {
    font-size: 14px;
    font-weight: 600;
}

.day strong {
    font-size: 20px;
    font-weight: 700;
}


/* ACTIVE DAY */

.day.active {
    background: var(--yellow-card-color);
    color: var(--yellow-ink);
}


/* SCHEDULE LIST */

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* SCHEDULE CARD */

.schedule-card {
    min-height: 62px;
    padding: 12px 14px;
    background: var(--yellow-card-content-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
}


/* TIME */

.time {
    width: 85px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 800;
    line-height: 1.35;
    color: var(--yellow-ink);
}


/* DIVIDER */

.divider {
    width: 2px;
    height: 45px;
    background: var(--yellow-ink);
    margin: 0 18px;
}


/* SUBJECT */

.subject {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: var(--yellow-ink);
}

.subject strong {
    font-size: 16px;
}

.subject span {
    font-size: 13px;
    font-weight: 800;
    margin-top: 2px;
}
